@use "../../../Components/scss/mixin" as *;
@use "../../../Components/scss/variables" as *;

.greeting {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    height: 66.5vw;
	background: linear-gradient(0deg, rgba(#18141c,1) 80%, rgba(#18141c,0) 100%);
	z-index: 1;

	&__bg {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		inset: 0;
		z-index: -1;
		margin: auto;

		&__canvas {
			width: 100%;
			height: 100%;
		}
	}

	&__wrapper {
		color: #eee;
	}

	&__time {
		display: lblock;
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
	}

	&__txt {
		display: block;
		text-align: center;
		font-size: 5rem;
		font-weight: 600;
	}
}
