@use "../../Components/scss/mixin" as *;
@use "../../Components/scss/variables" as *;

.home {
	// &-section {
	// 	scroll-snap-align: start;
	// 	scroll-snap-stop: always;
	// }
	background-color: #18141c;

	&__emptySpace {
		width: 100%;
		height: 100vh;
	}
}
